.top-container{
    background-color:#F1F1F1;
}
.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav-desktop{
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    color: black;
    text-decoration: none;
    padding: 0px 25px;

}

h2::after{
    content: ".";
    color: orange;
    font-size: 1.8rem;   
}
/* header/hero */

.header-container{
margin-top: 60px ;
display: flex;
justify-content: space-evenly;
align-items: center;
   
}
#hero-text{
    text-align: start;
    width: 500px;
    height: 208px;
}

i{
    display: none;
}
.nav-mobile{
    display: none;
}

/* mobile */
@media (max-width: 480px) {
    .nav-desktop{
        display: none;
    }
    .nav-mobile{
        display: block;
    }
    .hamburger{
        display: block;
    }
    
    .ham{
        width: 33px;
        height: 20px;
        position: absolute;
        top: 55px;
        right: 16px;
        font-size: 18px;
    }
    .desktop{
        display: none;
    }
    .hide{
        display: none;
    }

    li{
        text-align: justify;
        font-weight: bold;
        font-size: 2em;
        margin: 30px 0;
    }
    a{
        color: #828282;
        transition: .2s ease;
    }
    a:active{
        color: #090909;
    }

    .header-container{
        margin: 30px;
        text-align: justify;
    }
    img{
        width: 296px;
        height: 367px;
    }
}