.f-container{
    padding: 5.6em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.con{
    
    font-weight: 600;
}
p{  
    width: 264px;
    font-size: 1.125em;
    font-weight: 400;
    word-break: break-word;
}
p.texts{  
    width: 290px;
    font-size: 1em;
    font-weight: 400;
    word-break: break-word;
    color: #828282;
    margin-top: 2.5em;
}
.primary-btn{
    width: 180px;
    height: 42px;
    background-color: #070707;
    color: white;
    margin-top: 2.5em;
    border-radius: 45px;
    font-weight: 400;
    font-size: 1.125em;
}
.i-grid{
    width: 343px;
    margin-top: 6.5em;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 61px;
}


