li {
  list-style-type: none;
}
a{
  color: black;
  text-decoration: none;
}
span{
  color: #FDA300;

}

.navbar{
  max-width: 1170px;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 60px;
    margin-top: 42px;
}
.logo {
  font-size: 30px;
}
.nav-links {
  width: fit-content;
    display: flex;
    position: relative;
    box-sizing: content-box;
    justify-content: space-between;
    min-width: 430px;
    margin-top: 60px;
}

.nav-links li {
  list-style: none;
  font-size: 14px;
  font-weight: 500;
}

.mobile-menu-icon {
  display: none;
}
button {
  border: none;
  text-decoration: none;
  font-size: 20px;
  background: none;
}
@media (max-width: 768px) {
  .logo {
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
  }
  .logo-mobile{
    display: none;
    position: absolute;
    top: 15px;
    left: 35px;
  }
  .nav-links {
    display: none;
  }
  
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    left: 0;
    top: 7%;
    transition: all 1.75s ease-in-out;
    width: 100%;
    background-color: white;
    height: 100vh;
    z-index: 10;
  }
  
  ul li {
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease-in-out;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    line-height: 52px;
  }
  .mobile-menu-icon {
    position: absolute;
    display: block;
    right: 32px;
    top: 25px;
    z-index: 10;
  }
  .hero h1 {
    font-size: 50px;
  }
}

